.footer{
    width: auto;
    background-color: #353535;
    color: white;
    padding: 20px;
    &__h2{
        font-family: 'shrikhand';
        font-size: 1rem;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    &__ul{
        font-family: 'roboto';
        list-style-type: none;
        &--a{
            color: white;
            text-decoration: none;
        }
        &--li{
            padding-top: 5px;
            & span {
                text-align: center;
                width : 20px;
            }
        }
    }
}