@font-face {
  font-family: "shrikhand";
  src: url("../police/shrikhand/Shrikhand-Regular.otf");
}
@font-face {
  font-family: "roboto";
  src: url("../police/roboto_regular_macroman/Roboto-Regular-webfont.woff");
  src: url("../police/roboto_regular_macroman/Roboto-Regular-webfont.woff") format("woff");
}
body {
  margin: 0px;
  padding: 0px;
}

main {
  margin: 0px;
  padding: 0px;
  width: auto;
}
main * {
  margin: 0px;
  padding: 0px;
}

.header {
  width: auto;
  text-align: center;
  background-color: #EFEFEF;
  padding-bottom: 15px;
}
.header__h1 {
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "shrikhand";
  background-color: white;
}
.header__localisation {
  width: auto;
  background-color: #EAEAEA;
  padding: 10px;
  font-family: "roboto";
  font-weight: bold;
  box-shadow: inset 0px 1px 3px grey;
}
.header__localisation--icone {
  padding-right: 10px;
}
.header__h2 {
  width: auto;
  padding: 20px;
  font-family: "roboto";
  font-weight: bold;
  font-size: 1.8rem;
}
.header p {
  width: auto;
  font-family: "roboto";
  font-size: 1rem;
}
.header__button {
  border-radius: 30px 30px 30px 30px;
  padding: 15px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-style: hidden;
  font-size: 1rem;
  color: white;
  box-shadow: 2px 2px 5px 2px #dddddd;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav {
  width: auto;
  padding: 20px;
}
.nav__h2 {
  font-family: "roboto";
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.nav__ul {
  list-style-type: none;
  display: flex;
  flex-flow: column wrap;
}
.nav__ul--li {
  width: 80%;
  padding: 25px;
  margin: 10px;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 2px 2px 5px 2px #dddddd;
  text-align: center;
  font-family: "roboto";
  font-weight: bold;
  font-size: 1rem;
  background-color: #EFEFEF;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.nav__ul--li :nth-child(2) {
  color: #7E7E7E;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1.4rem;
}
.nav__ul--li--chiffre {
  margin-left: -40px;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 5px 10px 5px 10px;
  font-size: 0.8rem;
  color: white;
  font-weight: lighter;
}

.article {
  width: auto;
  padding: 20px;
  background-color: #EFEFEF;
}
.article__h2 {
  font-family: "roboto";
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.article__a {
  text-decoration: none;
}
.article__a:visited {
  text-decoration: none;
}
.article__figure {
  width: 100%;
  border-radius: 30px 30px 30px 30px;
  margin-top: 15px;
  overflow: hidden;
}
.article__figure--img {
  object-fit: cover;
  height: 200px;
  width: 100%;
}
.article__figure--nouveau {
  border-radius: 10%;
  padding: 5px 10px;
  margin-left: 68%;
  margin-top: 15px;
  position: absolute;
  background-color: #99e2d0;
  color: #2c9c81;
  font-size: 1rem;
  font-weight: bold;
}
.article__figure--figcaption {
  height: 50px;
  background-color: white;
  color: black;
  margin-top: -5px;
  padding: 10px 10px 10px 15px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.article__figure--figcaption :nth-child(3) {
  padding-left: 10%;
  padding-right: 5%;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: right;
}

.footer {
  width: auto;
  background-color: #353535;
  color: white;
  padding: 20px;
}
.footer__h2 {
  font-family: "shrikhand";
  font-size: 1rem;
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer__ul {
  font-family: "roboto";
  list-style-type: none;
}
.footer__ul--a {
  color: white;
  text-decoration: none;
}
.footer__ul--li {
  padding-top: 5px;
}

/*# sourceMappingURL=style.css.map */
