@font-face{ 
	font-family: 'shrikhand';
	src: url('/police/shrikhand/Shrikhand-Regular.otf');
}

@font-face{ 
	font-family: 'roboto';
	src: url('/police/roboto_regular_macroman/Roboto-Regular-webfont.woff');
    src: url('/police/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff');
}
